<h1 class="pt-5 text-center">Pulses</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="rice-img shadow bg-white rounded p-2">
                <img class="rounded " src="../../../assets/palses.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-6 fs-5">
            <p>Pulses, a group of leguminous crops harvested solely for their dry seeds, include lentils, beans,
                chickpeas, and peas. Renowned for their high protein and fiber content, along with essential vitamins
                and minerals, pulses are integral to balanced diets worldwide. Cultivated across diverse climates, they
                offer sustenance and culinary versatility, featuring prominently in dishes like soups, stews, salads,
                and curries. Pulses are particularly important in vegetarian diets for their protein richness. Moreover,
                they contribute to sustainable agriculture by fixing nitrogen in the soil, enhancing soil fertility and
                reducing the need for synthetic fertilizers. Recognized for their nutritional benefits and environmental
                sustainability, pulses play a key role in addressing global food security challenges and promoting
                healthier eating habits.
            </p>

        </div>
    </div>
</div>