<h1 class="pt-5 text-center">Rice and Wheat</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="rice-img shadow bg-white rounded p-2">
                <img class="rounded " src="../../../assets/dryFruir.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-6 fs-5">
            <p>Dry fruits, also known as dried fruits, are fruits from which the majority of the water content has been
                removed through dehydration methods such as sun drying or dehydration machines. Common varieties include
                raisins, apricots, dates, figs, prunes, and cranberries, among others. This preservation process extends
                their shelf life and concentrates their flavors, making them sweeter and sometimes chewier than fresh
                fruits.
                Dry fruits are packed with nutrients, including fiber, vitamins, minerals, and antioxidants. They offer
                various health benefits such as improved digestion, boosted immunity, and better heart health.
                Additionally, they provide a quick source of energy due to their natural sugars and are often
                recommended as healthy snacks.
                In culinary applications, dry fruits are versatile ingredients used in both sweet and savory dishes.
                They are frequently added to baked goods like cakes, cookies, and bread, as well as incorporated into
                salads, granolas, and trail mixes. Their natural sweetness also makes them popular toppings for cereals
                and yogurt. While nutritious, dry fruits are calorie-dense, so it's advisable to consume them in
                moderation as part of a balanced diet.</p>

        </div>
    </div>