<div class="container py-5">
    <h1 class="text-center pb-3">Contact US</h1>
    <div class="row">
        <div class="col-md-3">
            <div sm={3} class="bg-secondary-subtle rounded shadow p-3 text-center">
                <div>
                    <i class="fa-solid fa-location-dot fs-1 p-4 bg-white rounded-pill mt-5 text-primary"></i>
                </div>
                <h4 class="py-3 text-nowrap">ADDRESS</h4>
                <p>MB-11, Block-B-21, Laurang House, Kasturba Gandhi Marg, Connaught Place, New Delhi-110001 </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-secondary-subtle rounded shadow p-3 text-center">
                <div>
                    <i class="fa-brands fa-whatsapp fs-1 p-4 bg-white rounded-pill mt-5 text-primary"></i>
                </div>
                <h4 class="py-3 text-nowrap">CONTACT NUMBER</h4>
                <p><a class="link-underline link-underline-opacity-0 text-dark" href="tel:+919650491945">(+91) 9811033633</a></p>
            </div>
            </div>
            <div class="col-md-3">
            <div class="bg-secondary-subtle rounded shadow p-3 text-center">
                <div>
                    <i class="fa-solid fa-paper-plane fs-1 p-4 bg-white rounded-pill mt-5 text-primary"></i>
                </div>
                <h4 class="py-3 text-nowrap">EMAIL ADDRESS</h4>
                <p><a class="link-underline link-underline-opacity-0 text-dark"
                        href="mailto:willbentechnologies@gmail.com">willbentechnologies@gmail.com</a></p>
            </div>
            </div>
            <div class="col-md-3">
            <div class="bg-secondary-subtle rounded shadow p-3 text-center">
                <div>
                    <i class="fa-solid fa-earth-americas fs-1 p-4 bg-white rounded-pill mt-5 text-primary"></i>
                </div>
                <h4 class="py-3 text-nowrap">WEBSITE</h4>
                <p><a class="link-underline link-underline-opacity-0 text-dark" target="blank"
                        href="http://willbentechnologies">willbentechnologies.com</a></p>
            </div>
        </div>
    </div>
</div>