<h1 class="pt-5 text-center">Rice and Wheat</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 my-3">
            <div class="rice-img shadow bg-white rounded p-2">
                <img class="rounded " src="../../../assets/tea1.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-6 fs-5">
            <p>Tea, a beloved beverage enjoyed worldwide, is made from the dried leaves of the Camellia sinensis plant.
                With a rich history spanning centuries, tea has cultural significance in many societies, from ceremonial
                traditions to daily rituals. The main types of tea include black, green, white, oolong, and herbal, each
                offering unique flavors, aromas, and health benefits. Black tea, the most oxidized type, boasts robust
                flavor and is often enjoyed with milk and sugar. Green tea, minimally oxidized, is renowned for its fresh taste and potential health-promoting properties due
                to its high antioxidant content. White tea, made from young leaves and buds, has a delicate flavor
                profile and is prized for its subtle nuances. Oolong tea falls between green and black tea in oxidation,
                offering a wide range of flavors from floral to fruity. Herbal teas, not technically "tea" as they are
                not made from Camellia sinensis, encompass a variety of
                infusions made from herbs, spices, and botanicals. Popular herbal teas include chamomile, peppermint,
                and rooibos, each with its own unique flavor and potential health benefits. Tea culture extends beyond
                the beverage itself, encompassing social rituals, relaxation, and even
                wellness practices. Whether sipped hot or cold, tea remains a cherished beverage enjoyed by people
                around the globe.</p>
        </div>
    </div>