<h1 class="pt-5 text-center">Rice and Wheat</h1>

<div class="container py-5">
    <div class="row">
        <div class="col-md-6 my-3">
            <div class="rice-img shadow bg-white rounded p-2">
                <img class="rounded " src="../../../assets/rice.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-6 fs-5">
            <p>Rice, a staple food for over half of the world's population, encompasses a diverse array of varieties,
                cultivation methods, and cultural significances. Cultivated primarily in flooded paddies or upland
                conditions, rice comes in various forms, including long-grain and short-grain, each offering distinct
                textures and flavors. Nutritionally, rice serves as a significant source of carbohydrates, with brown
                rice retaining more nutrients due to its unprocessed nature compared to white rice.</p>
            <p>Culinary applications of rice span the globe, with it featuring prominently in dishes such as stir-fries,
                sushi, risottos, and pilafs. Additionally, rice flour serves as a versatile ingredient in baking and
                noodle-making. Its cultural significance extends beyond mere sustenance, often symbolizing fertility,
                prosperity, and spirituality in many societies. Rice plays a central role in traditional ceremonies,
                rituals, and celebrations, enriching cultural heritage worldwide.</p>

        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-6 my-3">
            <div class="rice-img shadow bg-white rounded p-2">
                <img class="rounded " src="../../../assets/wheat.jpeg" alt="">
            </div>
        </div>
        <div class="col-md-6 fs-5">
            <p>Wheat, a staple cereal grain, sustains billions worldwide with its nutritional richness and culinary
                versatility. Cultivated primarily in temperate regions, wheat comes in various species, including common
                wheat, durum wheat, and spelt wheat. It serves as a vital source of carbohydrates, protein, fiber, and
                essential nutrients like vitamins and minerals. Whole wheat, retaining all parts of the grain, offers
                superior nutrition compared to refined wheat products. Wheat finds application in diverse foods such as
                bread, pasta, noodles, and breakfast cereals, contributing to global cuisines. Major producers like
                China, India, and the United States drive its extensive cultivation and trade. However, wheat farming
                can pose environmental challenges, prompting efforts toward sustainable practices. Rich in cultural
                significance, wheat has been integral to religious rituals, traditional ceremonies, and culinary
                heritage for centuries, symbolizing sustenance and prosperity across diverse cultures.</p>
        </div>
        
    </div>
    
</div>