<div style="background: #104978" class="shadow py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <div class='d-flex justify-content-center'>
                    <img src="" alt="logo">
                </div>
                <h4 class='text-center pt-3 text-white'>Willben Import Export</h4>
                <div class='d-flex justify-content-center py-4 gap-3'>
                    <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                                class="fa-brands fa-twitter bg-primary p-3 rounded-pill"></i></label></div>
                    <!-- <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i class="fa-brands fa-facebook-f bg-primary px-4 py-3 rounded-pill"></i></label></div>  -->
                    <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                                class="fa-brands fa-linkedin-in bg-primary p-3 rounded-pill"></i></label></div>
                </div>
            </div>
            <div class='text-white py-4 col-md-3'>
                <h3 class='text-primary pb-5'>Quick Link</h3>
                <div><label routerLink="home" class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Home</label></div>
                <div><label routerLink="aobut-us" class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> About</label></div>
                <div><label routerLink="contact" class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Contact</label></div>
            </div>
            <div class='text-white py-4 col-md-3'>
                <h3 class='text-primary pb-5'>Company</h3>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Term & Conditions</label></div>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Privacy Policy</label></div>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Disclaimer</label></div>
            </div>
            <div class='text-white py-4 col-md-3'>
                <h3 class='text-primary pb-5'>Services</h3>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Borrower</label></div>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Lender</label></div>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Feedback</label></div>
                <div><label class='text-white link-underline link-underline-opacity-0 fs-5'><i
                            class="fa-solid fa-right-long mr-2"></i> Site Map</label></div>
            </div>
        </div>
    </div>

</div>
<div class='py-2' style="background:#0B3151">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img style="height: 30px" src='assets/cards.png' alt="" />
            </div>
            <div class="col-md-6">
                <p class='text-white fs-6'>© Copyright 2020 | Willben Import Export Pvt Ltd</p>
            </div>
        </div>
    </div>
</div>